<table class="table-auto w-full rounded-large">
  <thead class="bg-blue-600 text-white">
    <tr>
      <th scope='col'>Date</th>
      <th scope='col'>Activity</th>
    </tr>
  </thead>
  </tbody>
  {% for course in courses %}
  <tr class="even:bg-gray-300">
    <td class="text-center">
      {{ course.date }}
    </td>
    <td class="text-right hover:bg-blue-300">
      <a href="/course/{{ course.id }}" class="inline-block w-full">{{ course.name }}</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>