{% extends "base.html" %}

{% block body %}


<div class="flex flex-col items-center justify-center p-6 mx-auto">
  <div class="w-full max-w-md rounded-lg shadow bg-white p-6 my-6">
    <h1 class="text-center text-xl font-bold">Welcome {{username}}</h1>
    <form id='form' hx-encoding='multipart/form-data' hx-post='/course' class="py-6 space-y-4">
      <div>
        <label for="text" class="block mb-2 text-sm font-medium text-gray-900">Course File</label>
        <input type='file' name='file' id="file" required="">
      </div>
      <div>
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Course Name</label>
        <input type='text' name="name" id="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" />
      </div>
      <button type="submit"
        class="w-full bg-blue-600 text-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        Upload
      </button>
    </form>
  </div>

  {% if courses | length > 0 %}
  <div class="w-full max-w-md rounded-lg shadow bg-white p-6 my-6">
    {% include "courses.html" %}
  </div>
  {% endif %}
</div>

{% endblock %}